html, body {
	background-image: url("../images/bg-tetris.png");
    background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
   min-height: 100%;
   position: relative;
}

header {
	padding: 10px;
}

#content {
	height: 400px;
	left: 50%;
	margin-left: -450px;
	margin-top: -125px;
	position: absolute; 
	top: 50%;
	width: 900px;
	padding: 10px;
	padding-bottom: 60px;   /* Height of the footer */
}

#content_help {
	height: 400px;
	left: 50%;
	margin-left: -450px;
	margin-top: -243px;
	position: absolute; 
	top: 50%;
	width: 900px;
	padding: 10px;
	padding-bottom: 60px;   /* Height of the footer */
}

#single, #keyboard {
	float: left;
}

#keyboard {
	margin-left: 25px;
}

#versus {
	float: right;
}

#play {
	margin-left: 250px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 60px;   /* Height of the footer */
	text-align: right;
}