html, body {
	background-image: url("../images/bg-tetris.png");
    background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
   min-height: 100%;
   position: relative;
}

header {
	padding: 10px;
}

#content {
	height: 602px;
	left: 50%;
	margin-left: -242px;
	margin-top: -301px;
	position: absolute;
	top: 50%;
	width: 484px;
}

#canvas {
	border: 1px solid #000000;
	float: left;
}

#images {
	margin: 0 auto;
	position: absolute;
}

#pause {
	margin: 0 auto;
	position: absolute;
}

#mute, #sound {
	margin: 1px 259px auto;
	position: absolute;
}

#data {
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	/*float: right;*/
	height: 250px;
	margin: 0 302px auto;
	position: absolute;
	width: 180px;
}

#data p {
	margin-left: 20px;
}

#shape {
	display: block;
	margin: 0 auto;
}

footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 60px;
	text-align: right;
}